.GameInfoRoot
{
	width: 21%;
	height: 100%;
	horizontal-align: right;
	vertical-align: center;
}

#GameInfoToggle
{
	background-color: #131616;
	width: 11%;
	height: 20%;
	horizontal-align: left;
	vertical-align: center;
	z-index: 	1;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transform: translate3d(90%, 0, 0);
}

#GameInfoToggle:hover
{
	box-shadow: -2px -2px 5px 5px #edbd28;
}

.toggle_info_panel #GameInfoToggle, .toggle_info_panel #GameInfoPanel
{
	transform: translate3d(0%, 0, 0);
}

#GameInfoPanel
{
	background-color: #131616;
	width: 	90%;
	height: 100%;
	horizontal-align: right;
	z-index: 	2;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transform: translate3d(90%, 0, 0);
}
